.title {
  font-size: 2.5rem;
  font-weight: 300;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 20px 10px;
}

.timer {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-value {
  margin-bottom: -3px;
}

.action-button-container {
  display: flex;
  justify-content: center;
}

.card-base {
  margin-bottom: 15px;
}

.question-category {
  text-transform: capitalize;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
}

.mat-expansion-panel-header-title {
  flex-grow: 5;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.text-area-form-field {
  width: 100%;
  & textarea {
    overflow-y: hidden;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 10px;
}

.checkbox {
  margin: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.submit-container {
  margin-top: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.error-message {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.question-description {
  white-space: pre;
}
